.CardHandler {
  font-family: "Slabo 27px", serif;
  color: azure;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.CardHandler-deck {
  position: relative;
  margin-top: 20vw;
  max-width: 162px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: block;
  margin-top: 12vh;
}

.CardHandler-title {
  font-size: 40px;
}
@media (max-width: 400px) {
  .CardHandler-title {
    letter-spacing: -2px;
  }
}
.CardHandler-title:after,
.CardHandler-title:before {
  content: "♦";
  padding: 0 10px;
}

.CardHandler-subtitle {
  font-size: 20px;
}
.CardHandler-subtitle:after,
.CardHandler-subtitle:before {
  content: "♦";
  padding: 0 10px;
}
.CardHandler-btn {
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.CardHandler-btn:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.CardHandler-btn:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}
.CardHandler-btn:active,
.CardHandler-btn:visited,
.CardHandler-btn:focus {
  outline: none;
}
.CardHandler-btn:hover:after {
  background-image: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
  animation: stripe-slide 12s infinite linear forwards;
}
.CardHandler-btn:disabled {
  cursor: not-allowed;
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
